<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="/style.css"
        />
    </head>
    <body>
        <div class="container">
            <div
                class="wrapper"
                id="app"
                v-cloak
            >
                <div class="heder">
                    <h1>{{title}}</h1>
                    <input
                        v-model="newTitle"
                        type="text"
                        placeholder=" Введите заметики"
                        @keyup.enter="addRowTodo"
                    />
                    <button
                        @click="addRowTodo"
                        class="btn"
                    >
                        Добавить
                    </button>
                    <div class="line"></div>
                </div>
                <div class="content">
                    <ul
                        v-for="(newTodo, index) in newTodos"
                        :key="index"
                    >
                        <li class="rowTodo">
                            <span :class="{ textDecor: newTodo.decor }">{{newTodo.name}}</span>

                            <div class="butnBox">
                                <button
                                    @click="updateRowTodo(index)"
                                    class="btnUpdata"
                                >
                                    Выполнено
                                </button>
                                <button
                                    @click="removeRowTodo(index)"
                                    class="btnDel"
                                >
                                    Удалить
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="/main.js"></script>
    </body>
</html>
